APP_NAME="SPLP Laravel Sample"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# SPLP Configuration
SPLP_KAFKA_BROKERS=10.70.1.23:9092
SPLP_KAFKA_CLIENT_ID=dukcapil-service
SPLP_KAFKA_GROUP_ID=service-1z-group
SPLP_KAFKA_REQUEST_TIMEOUT_MS=30000
SPLP_KAFKA_CONSUMER_TOPIC=service-1-topic
SPLP_KAFKA_PRODUCER_TOPIC=command-center-inbox

SPLP_CASSANDRA_CONTACT_POINTS=localhost
SPLP_CASSANDRA_LOCAL_DATA_CENTER=datacenter1
SPLP_CASSANDRA_KEYSPACE=service_1_keyspace

SPLP_ENCRYPTION_KEY=b9c4d62e772f6e1a4f8e0a139f50d96f7aefb2dc098fe3c53ad22b4b3a9c9e7

SPLP_SERVICE_NAME=Dukcapil Service
SPLP_SERVICE_VERSION=1.0.0
SPLP_SERVICE_WORKER_NAME=service-1-publisher
